{% extends 'base.html' %} {% load crispy_forms_tags %}

{% block title %} Password Change {% endblock title %} 

{% block content %}
<div class="text-light">
    <h2 class="text-center card-header">Password Change</h2>
    <div class="card-body bg-transparent m-4 mt-0 gen_form">
        <!-- a div to put some space in between the boxes and the edges -->
        <form method="post">
            {% csrf_token %} {{ form|crispy }}
            <div class="text-center style="width: 5rem;>
                <input class="btn btn-outline-warning m-2" type="submit" value="Change my password">
            </div>
        </form>
    </div>
</div>
{% endblock content %}